<h1>What are you allergic to?</h1>
<form action="/result">
  <div class="form-group">
    <label for="word">What is your word?</label>
    <input type="text" name="word" required>
  </div>
  <div class="form-group">
    <label for="sentence">What is your sentence?</label>
    <input type="text" name="sentence" required>
  </div>
  <button type="submit" name="button" class="btn-success">Count</button>
</form>
